<section class="min-h-screen flex items-center">

  <div class="grid md:grid-cols-2 gap-10 items-center w-full">

    <div>
      <p class="text-blue-400 mb-2">Junior Full Stack Developer</p>

      <h1 class="text-5xl md:text-7xl font-bold leading-tight mb-6">
        ASWANTH KV
      </h1>

      <p class="text-slate-300 text-lg leading-relaxed mb-8">
        Junior Full Stack Developer specializing in Angular, Node.js,
        PostgreSQL, and scalable web application development.
      </p>

      <div class="flex gap-4 flex-wrap">

<a
  href="/Aswanth_Resume.pdf"
  target="_blank"
  class="bg-blue-500 hover:bg-blue-600 px-6 py-3 rounded-xl font-semibold transition duration-300"
>
  Resume
</a>
        <a
          href="https://linkedin.com/in/aswanthkv10"
          target="_blank"
          class="border border-slate-600 px-6 py-3 rounded-xl hover:border-blue-400"
        >
          LinkedIn
        </a>

        <a
          href="https://github.com/aswanthkv10"
          target="_blank"
          class="border border-slate-600 px-6 py-3 rounded-xl hover:border-blue-400"
        >
          GitHub
        </a>

      </div>
    </div>

    <div class="flex justify-center">

      <div class="w-80 h-80 rounded-3xl bg-gradient-to-br from-blue-500 to-purple-600 blur-3xl opacity-30 absolute"></div>

      <div class="relative bg-slate-800 border border-slate-700 rounded-3xl p-8 w-full max-w-md">
        
        <h2 class="text-2xl font-bold mb-6">
          Developer Stats
        </h2>

        <div class="space-y-4">

          <div class="flex justify-between">
            <span>Experience</span>
            <span>7 Months</span>
          </div>

          <div class="flex justify-between">
            <span>Projects</span>
            <span>3+</span>
          </div>

          <div class="flex justify-between">
            <span>APIs Built</span>
            <span>20+</span>
          </div>

          <div class="flex justify-between">
            <span>Tech Stack</span>
            <span>Angular + Node.js</span>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>